In [ ]:
from requests_html import HTMLSession
from lookup import linkedin_url, linkedin_xpaths, linkedin_attributes
from webscraping import linkedin_get_page, linkedin_return_all_elements_by_xpath, linkedin_return_all_elements_as_df, linkedin_id_order, linkedin_wait
import pandas as pd
from webscraping import linkedin_wait

session = HTMLSession()

dff = pd.DataFrame()
data_list = []
countries = ['Worldwide','France', 'Germany', 'United%20Kingdom', 'United%20States', 'Canada']
titles = [ 'Data%2Bengineer','Data%2Banalyst', 'Data%2Bscientist', 'BI%2Banalyst', 'etl%2Bdeveloper']
for title in titles:
for country in countries:
for counter in range(0, 50 ,25):
try:
url = f'https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search?keywords={title}&location={country}'
url = url + f'&locationId=&f_TPR=r86400&start={counter}'
print('Now on page: ', counter)
page = linkedin_get_page(session, url=url)
# Use Requests-HTML functions to scrape data from the page
items = page.html.xpath('//li')
if len(items) == 0:
break
for li in items:
titles = li.find('h3')[0].text
companies = li.find('a.hidden-nested-link')[0].text
locations = li.find('span.job-search-card__location')[0].text
links = li.find('a.base-card__full-link')[0].attrs['href']
time = li.find('time')[0].attrs['datetime']

data = {'title': titles, 'company': companies, 'location': locations,
'link': links, 'posting_date': time}

data_list.append(data)

counter += 25
except:
pass
            
df = pd.DataFrame(data_list)
dff = pd.concat([dff,df], ignore_index=True)
dff

In [1]:
from webscraping import linkedin_final_df

df_linkedin = linkedin_final_df()

Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0
Now on page:  25
Now on page:  0

In [4]:
from webscraping import linkedin_id_order
df_linkedin = linkedin_id_order(df_linkedin)
df_linkedin

c:\Users\96171\Desktop\Final_Project\webscraping.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ID'] = df['link'].apply(linkedin_job_id_extract)

             ID  ...    source
0    3737789405  ...  LinkedIn
1    3736351653  ...  LinkedIn
2    3736053971  ...  LinkedIn
3    3737241386  ...  LinkedIn
4    3697746160  ...  LinkedIn
..          ...  ...       ...
747  3685871929  ...  LinkedIn
748  3727280487  ...  LinkedIn
749  3705775700  ...  LinkedIn
750  3736354011  ...  LinkedIn
751  3736099498  ...  LinkedIn

[752 rows x 7 columns]

In [ ]:
from webscraping import glassdoor_final_df

df = glassdoor_final_df()

In [ ]:
df

In [ ]:
dall = pd.concat([df,dff], ignore_index=True)

In [ ]:
dall['source'].value_counts()

In [ ]:
# dff
# d2 = pd.DataFrame()
# d2 = pd.concat([dff,d2],ignore_index=True)
d2.drop_duplicates(subset='link')
d2.reset_index(drop=True, inplace=True)
d2

In [ ]:
import pandas as pd
d2 = pd.read_csv('linked.csv')
d2

In [ ]:
df