In [1]:
from requests_html import HTMLSession
from time import sleep
import pandas as pd
from lookup import linkedin_url, linkedin_xpaths, linkedin_attributes
from webscraping import linkedin_html_session, linkedin_get_page, linkedin_return_all_elements_by_xpath

session = linkedin_html_session()
page = linkedin_get_page(session)

titles = linkedin_return_all_elements_by_xpath(linkedin_xpaths.JOB_TITLE.value, page)
companies = linkedin_return_all_elements_by_xpath(linkedin_xpaths.COMPANIES.value, page)
locations = linkedin_return_all_elements_by_xpath(linkedin_xpaths.LOCATIONS.value, page)
links = linkedin_return_all_elements_by_xpath(linkedin_xpaths.LINKS.value, page, attr=True, attribute_name=linkedin_attributes.HREF.value)
times = linkedin_return_all_elements_by_xpath(linkedin_xpaths.POSTING_TIME.value, page, attr=True, attribute_name=linkedin_attributes.DATETIME.value)

data = {'title':titles, 'company':companies, 'location': locations, 'link':links, 'posting_date':times}

df = pd.DataFrame(data)

df

,title,company,location,link,posting_date
0,Junior Data Engineer,Los Angeles Dodgers,"Los Angeles, CA",https://www.linkedin.com/jobs/view/junior-data...,2023-09-26
1,Data Engineer - Chicago - 165k,Sierra ITS,"Chicago, IL",https://www.linkedin.com/jobs/view/data-engine...,2023-07-27
2,Data Engineer Intern (Fall 2023),Powell Tate,"Washington, DC",https://www.linkedin.com/jobs/view/data-engine...,2023-10-03
3,"Data Engineer, (Virtual)",Lockheed Martin,Denver Metropolitan Area,https://www.linkedin.com/jobs/view/data-engine...,2023-09-10
4,Data Engineer Intern,Lockheed Martin,"Highlands Ranch, CO",https://www.linkedin.com/jobs/view/data-engine...,2023-08-23
5,Data Engineer,Open Lending,"Austin, TX",https://www.linkedin.com/jobs/view/data-engine...,2023-08-31
6,SQL Data Engineer (Full time),Zortech Solutions,United States,https://www.linkedin.com/jobs/view/sql-data-en...,2023-05-11
7,Data Engineer,"Donato Technologies, Inc.",United States,https://www.linkedin.com/jobs/view/data-engine...,2023-08-09
8,Data Engineer Intern (Fall/Spring),Mercedes-Benz Research & Development North Ame...,"Sunnyvale, CA",https://www.linkedin.com/jobs/view/data-engine...,2023-09-19
9,Data Engineer (DE),Zortech Solutions,"Pittsburgh, PA",https://www.linkedin.com/jobs/view/data-engine...,2023-10-04
10,Data Engineer,Fusemachines,"Texas, United States",https://www.linkedin.com/jobs/view/data-engine...,2023-10-04
11,DATA ENGINEER,Dollar General,"Goodlettsville, TN",https://www.linkedin.com/jobs/view/data-engine...,2023-03-28
12,Data Engineer - Intern,Lockheed Martin,"Fort Worth, TX",https://www.linkedin.com/jobs/view/data-engine...,2023-09-25
13,Data Engineer,Fusemachines,"North Carolina, United States",https://www.linkedin.com/jobs/view/data-engine...,2023-10-04
14,"Data Engineer, Database Engineering",Experfy,"San Francisco, CA",https://www.linkedin.com/jobs/view/data-engine...,2023-04-03
15,Python Data Engineer,Netorbit Inc,"Jersey City, NJ",https://www.linkedin.com/jobs/view/python-data...,2023-09-22
16,"Data Engineer || Chicago, IL",Steneral Consulting,"Chicago, IL",https://www.linkedin.com/jobs/view/data-engine...,2023-09-08
17,"Associate, Data Engineer",Vestwell,"Austin, TX",https://www.linkedin.com/jobs/view/associate-d...,2023-09-20
18,Data Engineer,QuantumBricks,"New York, NY",https://www.linkedin.com/jobs/view/data-engine...,2023-05-09
19,Data Engineer,Stride Funding,"Boston, MA",https://www.linkedin.com/jobs/view/data-engine...,2023-09-28
20,"Data Engineer, Database Engineering",Experfy,"New York, United States",https://www.linkedin.com/jobs/view/data-engine...,2023-04-03
21,Data Engineer,Brivo,"Bethesda, MD",https://www.linkedin.com/jobs/view/data-engine...,2023-08-15
22,Data Engineer,Experfy,"Bridgewater Township, NJ",https://www.linkedin.com/jobs/view/data-engine...,2023-06-01
23,Data Engineer,Steneral Consulting,United States,https://www.linkedin.com/jobs/view/data-engine...,2023-10-05
24,Data Engineer,Analytica,"Washington, DC",https://www.linkedin.com/jobs/view/data-engine...,2023-06-23

In [ ]:
titles