In [5]:
l = '''d.python, d.r, d.sql, d.scala,d.tableau,d.power_bi, d.mysql, d.postgresql, d.nosql, d.etl,d.dax,d.aws,d.azure,d.remote,d.hybrid,d.on_site, d.junior, d.mid, d.senior'''
l.replace('d.', '').replace(',', ' BOOL')

'python BOOL r BOOL sql BOOL scala BOOLtableau BOOLpower_bi BOOL mysql BOOL postgresql BOOL nosql BOOL etl BOOLdax BOOLaws BOOLazure BOOLremote BOOLhybrid BOOLon_site BOOL junior BOOL mid BOOL senior'

In [7]:
m = 'id,job_title,lower_salary,higher_salary,company_name,rating,size,founded,revenue,tag'

In [11]:
m = m.split(',')

In [16]:
out = ''
for n in m:
    out += n.split()[0] + '=' + 'excluded.' + n.split()[0]+ ' ,'
out

'id=excluded.id ,posting_date=excluded.posting_date ,company_id=excluded.company_id ,min_yearly_salary=excluded.min_yearly_salary ,max_yearly_salary=excluded.max_yearly_salary ,company_link=excluded.company_link ,python=excluded.python ,r=excluded.r ,sql=excluded.sql ,scala=excluded.scala ,tableau=excluded.tableau ,power_bi=excluded.power_bi ,mysql=excluded.mysql ,postgresql=excluded.postgresql ,nosql=excluded.nosql ,etl=excluded.etl ,dax=excluded.dax ,aws=excluded.aws ,azure=excluded.azure ,remote=excluded.remote ,hybrid=excluded.hybrid ,on_site=excluded.on_site ,junior=excluded.junior ,mid=excluded.mid ,senior=excluded.senior ,'