In [1]:
import pandas as pd
from lookup import DRIVE_CSVS

def concat_dfs(*args):
    df_concatenated = pd.concat(args, ignore_index=True)
    return df_concatenated

def read_csv_files_from_drive(url):
    file_id = url.split("/")[-2]
    reading_link = f"https://drive.google.com/uc?id={file_id}"
    df = pd.read_csv(reading_link)
    return df

list_of_csvs = DRIVE_CSVS.geomap.value
df1 = read_csv_files_from_drive(list_of_csvs[0])
df2 = read_csv_files_from_drive(list_of_csvs[1])
df3 = read_csv_files_from_drive(list_of_csvs[2])

df_merged = df1.merge(df2, on='Country',how='outer').merge(df3, on='Country',how='outer')
df_merged.fillna(0, inplace=True)

In [3]:
geomap = ['https://drive.google.com/file/d/1gm5JFUIjbumHKarRJQc6twJVnlPWGvhJ/view?usp=drive_link',
              'https://drive.google.com/file/d/11yJRl39fs2PRwap9oRBoUuR5iPuT-rbu/view?usp=drive_link',
              'https://drive.google.com/file/d/1Ei6eUEhPk8jncy09RWuRU9Zb-dslZqmY/view?usp=drive_link']

def printer(*args):
    for i in args:
        for link in i:
            print(link)

printer(geomap)

https://drive.google.com/file/d/1gm5JFUIjbumHKarRJQc6twJVnlPWGvhJ/view?usp=drive_link
https://drive.google.com/file/d/11yJRl39fs2PRwap9oRBoUuR5iPuT-rbu/view?usp=drive_link
https://drive.google.com/file/d/1Ei6eUEhPk8jncy09RWuRU9Zb-dslZqmY/view?usp=drive_link

In [ ]:
def concat_dfs(*args):
    df_concatenated = pd.concat(args, ignore_index=True)
    return df_concatenated

In [3]:
dfs = concat_dfs(read_csv_files_from_drive("https://drive.google.com/file/d/1cnH7hmQEneOIYR8QoT7AstSEqptd-zdo/view?usp=drive_link"),
                 read_csv_files_from_drive("https://drive.google.com/file/d/1XqRTnyMWhws6yGnyuCN7DvPMVl5vIgWS/view?usp=drive_link"))

In [4]:
dfs

,company_id,company_name,industry,size,direct_link
0,1008931248248,ARA Diagnostic Imaging,Health Care Services & Hospitals,501 to 1000 Employees,www.ausrad.com
1,1008931549364,Sunwater Capital,NaN,1 to 50 Employees,www.sunwatercapital.com/
2,1008931533187,Austin Radiological Association/ ARA Diagnosti...,Health Care Services & Hospitals,501 to 1000 Employees,www.ausrad.com
3,1008933165915,NaN,Health Care Services & Hospitals,501 to 1000 Employees,www.ausrad.com
4,1008931661150,Dama Technology Inc,NaN,1 to 50 Employees,www.damawashington.com
...,...,...,...,...,...
141,349422989,Maris Consulting Group℠,Staffing and Recruiting,2-10 employees,https://www.mariscg.com\nExternal link for Mar...
142,1841567779,Flight Centre Travel Group,Travel Arrangements,"10,001+ employees",https://www.fctgcareers.com/\nExternal link fo...
143,577509662,Queensland Rail,Truck Transportation,"5,001-10,000 employees",http://www.queenslandrail.com.au\nExternal lin...
144,1421447665,Galderma,Pharmaceutical Manufacturing,"5,001-10,000 employees",http://www.galderma.com\nExternal link for Gal...
145,1518058285,Halian,IT Services and IT Consulting,"501-1,000 employees",http://www.halian.com/\nExternal link for Halian