In [1]:
import pandas as  pd
df = pd.read_csv('glassdoor.csv')
df.head(1)

,ID,title,company,location,posting_date,link,source
0,1008931248248,Data Engineer I,ARA Diagnostic Imaging,"Austin, TX",17/10/2023,https://www.glassdoor.com/job-listing/data-eng...,Glassdoor

In [2]:
df_ind = pd.read_csv('glassdoor_ind.csv')
df_ind.head(1)

,ID,source,company_name,company_id,min_yearly_salary,max_yearly_salary,company_link,description,python,sql,...,mysql,postgresql,nosql,etl,dax,aws,azure,junior,mid,senior
0,1008931248248,Glassdoor,ARA Diagnostic Imaging,1141101419,71000.0,97000.0,https://www.glassdoor.com/Overview/Working-at-...,ARA Diagnostic Imaging is seeking an experienc...,False,True,...,False,False,False,True,False,False,False,False,False,False

In [4]:
from ws import selenium_driver, glassdoor_page_go_to, By,glassdoor_goto_glitch
from ws import glassdoor_comp_industry, glassdoor_comp_size, glassdoor_comp_link
from time import sleep
driver = selenium_driver()
# company_id, company_name, industry, size, direct_link

df = df_ind.drop_duplicates(subset='company_id')
data_list = []
for i in range(len(df)):
    print('Doing: ',i+1,'/',len(df))
    Comp_ID      = df.iloc[i,0]
    url          = df.iloc[i,6]
    company_name = df.iloc[i,2]
    glassdoor_goto_glitch(driver, url)
    sleep(3)
    industry     = glassdoor_comp_industry(driver)
    size         = glassdoor_comp_size(driver)
    direct_link  = glassdoor_comp_link(driver)
    data = {'company_id':Comp_ID, 'company_name':company_name,'industry':industry,
            'size':size, 'direct_link':direct_link}
    data_list.append(data)
df_comp = pd.DataFrame(data_list)
df_comp

Doing:  1 / 76
Doing:  2 / 76
Doing:  3 / 76
Doing:  4 / 76
Doing:  5 / 76
Doing:  6 / 76
Doing:  7 / 76
Doing:  8 / 76
Doing:  9 / 76
Doing:  10 / 76
Doing:  11 / 76
Doing:  12 / 76
Doing:  13 / 76
Doing:  14 / 76
Doing:  15 / 76
Doing:  16 / 76
Doing:  17 / 76
Doing:  18 / 76
Doing:  19 / 76
Doing:  20 / 76
Doing:  21 / 76
Doing:  22 / 76
Doing:  23 / 76
Doing:  24 / 76
Doing:  25 / 76
Doing:  26 / 76
Doing:  27 / 76
Doing:  28 / 76
Doing:  29 / 76
Doing:  30 / 76
Doing:  31 / 76
Doing:  32 / 76
Doing:  33 / 76
Doing:  34 / 76
Doing:  35 / 76
Doing:  36 / 76
Doing:  37 / 76
Doing:  38 / 76
Doing:  39 / 76
Doing:  40 / 76
Doing:  41 / 76
Doing:  42 / 76
Doing:  43 / 76
Doing:  44 / 76
Doing:  45 / 76
Doing:  46 / 76
Doing:  47 / 76
Doing:  48 / 76
Doing:  49 / 76
Doing:  50 / 76
Doing:  51 / 76
Doing:  52 / 76
Doing:  53 / 76
Doing:  54 / 76
Doing:  55 / 76
Doing:  56 / 76
Doing:  57 / 76
Doing:  58 / 76
Doing:  59 / 76
Doing:  60 / 76
Doing:  61 / 76
Doing:  62 / 76
Doing:  63 / 76
Doing:  64 / 76
Doing:  65 / 76
Doing:  66 / 76
Doing:  67 / 76
Doing:  68 / 76
Doing:  69 / 76
Doing:  70 / 76
Doing:  71 / 76
Doing:  72 / 76
Doing:  73 / 76
Doing:  74 / 76
Doing:  75 / 76
Doing:  76 / 76

,company_id,company_name,industry,size,direct_link
0,1008931248248,ARA Diagnostic Imaging,Health Care Services & Hospitals,501 to 1000 Employees,www.ausrad.com
1,1008931549364,Sunwater Capital,N/A,1 to 50 Employees,www.sunwatercapital.com/
2,1008931533187,Austin Radiological Association/ ARA Diagnosti...,Health Care Services & Hospitals,501 to 1000 Employees,www.ausrad.com
3,1008933165915,NaN,Health Care Services & Hospitals,501 to 1000 Employees,www.ausrad.com
4,1008931661150,Dama Technology Inc,N/A,1 to 50 Employees,www.damawashington.com
...,...,...,...,...,...
71,1008931914777,Case Western Reserve University,Colleges & Universities,5001 to 10000 Employees,www.cwru.edu
72,1008932742698,"Imagine One Technology & Management, Ltd.",Aerospace & Defense,201 to 500 Employees,imagine-one.com/
73,1008932367135,Northrop Grumman,Aerospace & Defense,10000+ Employees,www.northropgrumman.com
74,1008931243381,NaN,Information Technology Support Services,51 to 200 Employees,www.1-sc.com
75,1008932107478,"Amazon Data Services, Inc.",Internet & Web Services,10000+ Employees,www.aboutamazon.com/

In [6]:
df_comp.to_csv('glassdoor_comp.csv', index = False)