In [1]:
from webscraping import linkedin_final_df,linkedin_id_order,order_df
import pandas as pd

df= linkedin_final_df()
df = linkedin_id_order(df)

Now on page:  0
Now on page:  25
Now on page:  50
Now on page:  75
Now on page:  100
Now on page:  125
Now on page:  150
Now on page:  175
Now on page:  200
Now on page:  225
Now on page:  250
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  25
Now on page:  50
Now on page:  75
Now on page:  100
Now on page:  125
Now on page:  150
Now on page:  175
Now on page:  200
Now on page:  225
Now on page:  250
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  25
Now on page:  50
Now on page:  75
Now on page:  100
Now on page:  125
Now on page:  150
Now on page:  175
Now on page:  200
Now on page:  225
Now on page:  250
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  25
Now on page:  50
Now on page:  75
Now on page:  100
Now on page:  125
Now on page:  150
Now on page:  175
Now on page:  200
Now on page:  225
Now on page:  250
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  0
Now on page:  25
Now on page:  50
Now on page:  75
Now on page:  100
Now on page:  125
Now on page:  150
Now on page:  175
Now on page:  200
Now on page:  225
Now on page:  250
Now on page:  275
Now on page:  300
Now on page:  325
Now on page:  350
Now on page:  375
Now on page:  400
Now on page:  425
Now on page:  450
Now on page:  475
Now on page:  500
Now on page:  525
Now on page:  550
Now on page:  575
Now on page:  600
Now on page:  625
Now on page:  650
Now on page:  675
Now on page:  700
Now on page:  725
Now on page:  750
Now on page:  775
Now on page:  800
Now on page:  825
Now on page:  850
Now on page:  875
Now on page:  900
Now on page:  925
Now on page:  950
Now on page:  975
Now on page:  1000
Now on page:  0
Now on page:  25
Now on page:  50
Now on page:  75
Now on page:  100
Now on page:  125
Now on page:  150
Now on page:  175
Now on page:  200
Now on page:  225
Now on page:  250
Now on page:  275
Now on page:  300
Now on page:  325
Now on page:  350
Now on page:  375
Now on page:  400
Now on page:  425
Now on page:  450
Now on page:  475
Now on page:  500
Now on page:  525
Now on page:  550
Now on page:  575
Now on page:  600
Now on page:  625
Now on page:  650
Now on page:  675
Now on page:  700
Now on page:  725
Now on page:  750
Now on page:  775
Now on page:  800
Now on page:  825
Now on page:  850
Now on page:  875
Now on page:  900
Now on page:  925
Now on page:  950
Now on page:  975
Now on page:  1000
Now on page:  0
Now on page:  25
Now on page:  50
Now on page:  75
Now on page:  100
Now on page:  125
Now on page:  150
Now on page:  175
Now on page:  200
Now on page:  225
Now on page:  250
Now on page:  275
Now on page:  300
Now on page:  325
Now on page:  350
Now on page:  375
Now on page:  400
Now on page:  425
Now on page:  450
Now on page:  475
Now on page:  500
Now on page:  525
Now on page:  550
Now on page:  575
Now on page:  600
Now on page:  625
Now on page:  650
Now on page:  675
Now on page:  700
Now on page:  725
Now on page:  750
Now on page:  775
Now on page:  800
Now on page:  825
Now on page:  850
Now on page:  875
Now on page:  900
Now on page:  925
Now on page:  950
Now on page:  975
Now on page:  1000
Now on page:  0
Now on page:  25
Now on page:  50
Now on page:  75
Now on page:  100
Now on page:  125
Now on page:  150
Now on page:  175
Now on page:  200
Now on page:  225
Now on page:  250
Now on page:  275
Now on page:  300
Now on page:  325
Now on page:  350
Now on page:  375
Now on page:  400
Now on page:  425
Now on page:  450
Now on page:  475
Now on page:  500
Now on page:  525
Now on page:  550
Now on page:  575
Now on page:  600
Now on page:  625
Now on page:  650
Now on page:  675
Now on page:  700
Now on page:  725
Now on page:  750
Now on page:  775
Now on page:  800
Now on page:  825
Now on page:  850
Now on page:  875
Now on page:  900
Now on page:  925
Now on page:  950
Now on page:  975
Now on page:  1000
Now on page:  0
Now on page:  25
Now on page:  50
Now on page:  75
Now on page:  100
Now on page:  125
Now on page:  150
Now on page:  175
Now on page:  200
Now on page:  225
Now on page:  250
Now on page:  275
Now on page:  300
Now on page:  325
Now on page:  350
Now on page:  375
Now on page:  400
Now on page:  425
Now on page:  450
Now on page:  475
Now on page:  500
Now on page:  525
Now on page:  550
Now on page:  575
Now on page:  600
Now on page:  625
Now on page:  650
Now on page:  675
Now on page:  700
Now on page:  725
Now on page:  750
Now on page:  775
Now on page:  800
Now on page:  825
Now on page:  850
Now on page:  875
Now on page:  900
Now on page:  925
Now on page:  950
Now on page:  975
Now on page:  1000
Now on page:  0
Now on page:  25
Now on page:  50
Now on page:  75
Now on page:  100
Now on page:  125
Now on page:  150
Now on page:  175
Now on page:  200
Now on page:  225
Now on page:  250
Now on page:  275
Now on page:  300
Now on page:  325
Now on page:  350
Now on page:  375
Now on page:  400
Now on page:  425
Now on page:  450
Now on page:  475
Now on page:  500
Now on page:  525
Now on page:  550
Now on page:  575
Now on page:  600
Now on page:  625
Now on page:  650
Now on page:  675
Now on page:  700
Now on page:  725
Now on page:  750
Now on page:  775
Now on page:  800
Now on page:  825
Now on page:  850
Now on page:  875
Now on page:  0

c:\Users\96171\Desktop\Final_Project\webscraping.py:246: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['source'] = 'LinkedIn'

In [8]:
dff = pd.read_csv('linkedin2.csv')
dff = order_df(dff)
f = pd.concat([df,dff], ignore_index=True)
f.drop_duplicates(subset='link')
f

,ID,title,company,location,posting_date,link,source
0,3739537852,Jr. Software Engineer,ABANA Enterprises Group Co.,"Riyadh, Riyadh, Saudi Arabia",2023-10-13,https://sa.linkedin.com/jobs/view/jr-software-...,LinkedIn
1,3739547265,Data Engineer,ADESA Europe,"Tienen, Flemish Region, Belgium",2023-10-13,https://be.linkedin.com/jobs/view/data-enginee...,LinkedIn
2,3739058989,Data Engineer,PT. Asuransi MSIG Indonesia,"Jakarta, Jakarta, Indonesia",2023-10-14,https://id.linkedin.com/jobs/view/data-enginee...,LinkedIn
3,3738717389,Sr Data Engineer,Omaha Public Power District,"Omaha, NE",2023-10-14,https://www.linkedin.com/jobs/view/sr-data-eng...,LinkedIn
4,3739539425,Data Engineer,Quantexa,"London, England, United Kingdom",2023-10-13,https://uk.linkedin.com/jobs/view/data-enginee...,LinkedIn
...,...,...,...,...,...,...,...
23432,3723913056,Senior Software Engineer - ML and Data Pipeline,Proofpoint,"District of Columbia, United States",10/12/2023,https://www.linkedin.com/jobs/view/senior-soft...,NaN
23433,3700993067,"Data Analyst, Marketing",thredUP,"Oakland, CA",10/12/2023,https://www.linkedin.com/jobs/view/data-analys...,NaN
23434,3723913052,Senior Software Engineer - ML and Data Pipeline,Proofpoint,"Hartford, CT",10/12/2023,https://www.linkedin.com/jobs/view/senior-soft...,NaN
23435,3723908369,Senior Software Engineer - ML and Data Pipeline,Proofpoint,"Atlanta, GA",10/12/2023,https://www.linkedin.com/jobs/view/senior-soft...,NaN
23436,3732574822,SQL Server Developer - 1 Year Contract,eCapital Corp.,Canada,10/12/2023,https://ca.linkedin.com/jobs/view/sql-server-d...,NaN